target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

*.log
logs/

.mvn/timing.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### VS Code ###
.vscode/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Local environment / secrets
.env
.env.*
*.local
src/main/resources/application-local.properties
src/main/resources/application-local.yml



